<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="elevanceskills.intern.AppTest"/>
      <class name="elevanceskills.intern.Test1"/>
      <class name="elevanceskills.intern.Test2"/>
      <class name="elevanceskills.intern.Test3"/>
      <class name="elevanceskills.intern.Test4"/>
      <class name="elevanceskills.intern.Test5"/>
      <class name="elevanceskills.intern.Test6"/>
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
